h1{
    color: blueviolet;
}
/*Clears Floats*/
.clr{
    clear:both;
}
a{
    text-decoration: none;
}
.button:hover{
    color:#589999d7 ;
    font-weight: 800;
}
.button:active{
    color:rebeccapurple ; 
    font-weight: 800;
    }

.button{
    background-color: #2a5e5ed7;
    color: black;
    padding: 10px 15px;
    border:none;
}
body{
    font:normal 16px Impact, 'Arial Narrow Bold', sans-serif;
}
.box-2 {
    border: 5px;
    background-color: #589999d7;
    border-style: solid;
    border-radius: 7px;
    padding: 20px ;
    width: 45%;
    margin:auto;
}
.box-3{   
    
    border: 5px;
    background-color: #152727d7;
    border-style: solid;
    border-radius: 7px;
    padding: 20px ;
    width: 45%;
    
    margin:10px auto auto auto    
}

.block{float: left;
     width: 33.3%;   
     border:1px solid #152727d7;   
     padding: 10px;
     box-sizing: border-box;
}
/* article thing on the left of the page*/
#main-block{
    float:left;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

/*Article small on te right*/
#sidebar{
    float:right;
    width: 30%;
    background-color: #152727d7;
    padding: 10px;
    color: rgba(160, 204, 241, 0.562);
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}