.box-2 h1{
    color: blueviolet;
}
/*Clears Floats*/
.clr{
    clear:both;
}
a{
    text-decoration: none;
}
.button:hover{
    color:#589999d7 ;
    font-weight: 800;
}
.button:active{
    color:rebeccapurple ; 
    font-weight: 800;
    }

.button{
    background-color: #2a5e5ed7;
    color: black;
    padding: 10px 15px;
    border:none;
}
.body-1{
    font:normal 13px; font-family:system-ui,  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.box-2 {
    border: 5px;
    background-color: #589999d7;
    border-style: solid;
    border-radius: 7px;
    padding: 20px ;
    width: 45%;
    margin:auto;
}
.box-3{   
    
    border: 5px;
    background-color: #152727d7;
    border-style: solid;
    border-radius: 7px;
    padding: 20px ;
    width: 45%;
    
    margin:10px auto auto auto;   
}

.box-4{   
    
    border: 5px;
    background-color: #276161d7;
    border-style: solid;
    border-radius: 7px;
    padding: 20px ;
    width: 45%;
    
    margin:10px auto auto auto;   
}

.block{float: left;
     width: 33.3%;   
     border:1px solid #152727d7;   
     padding: 10px;
     box-sizing: border-box;
}
/* article thing on the left of the page*/
#main-block{
    float:left;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

/*Article small on te right*/
#sidebar{
    float:right;
    width: 30%;
    background-color: #152727d7;
    padding: 10px;
    color: rgba(160, 204, 241, 0.562);
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.p-box{
        width:800px;
        height:500px;
        border: 1px solid #2a5e5ed7;
        margin-top: 30px;
        position:relative;
        background-image:url(/csscheatsheet/css/images/bgimage.jpg) ;
/*pushes it over 100 px and down 200 */
        background-position:100px 200px;
        background-repeat: no-repeat;
        background-position: 0px center;
        

}

.p-box h1{
    position:absolute;
    top:0px; 
    right:350px ;
    bottom:459px;
}
.p-box h2{
    position:absolute;
    top:100px;
    right:350px                    


}   

.fix-me{
    position: fixed;
    top: 800px;
}
/*children of list                              targets first*/
.my-list li:first-child{

background:rgba(216, 7, 7, 0.685);
border-radius:10px;

}
/*                                              targets last*/
.my-list li:last-child{
    
    background:rgba(9, 13, 245, 0.637);
    border-radius:10px;
}

/*                                  targets specific in order*/
/*
.my-list li:nth-child(5){
    background:rgba(57, 2, 255, 0.527);
    border-radius:10px;
}*/


        /*Targets even*/
.my-list li:nth-child(even){
    background:rgba(57, 2, 255, 0.527);
    border-radius:10px;}
    
    
    /*Targets odd*/
.my-list li:nth-child(odd){
        background:rgba(172, 11, 11, 0.616);
        border-radius:10px;}



        






